:root {
    --primary-bg-color: rgb(202, 199, 199);
    --border-color: rgba(167, 164, 164, 0.767);
    --primary-color: rgb(8, 59, 103);
    --primary-dark-color: rgb(10, 52, 88);
    --secondary-color: #e6edff;
    --primary-border-color: #ee9c38;
    --background-blur-color: rgb(174, 174, 174);
    --primary-font-color: #ffffff;
    --secondary-font-color: rgb(17, 17, 17);
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --pending-font-color: rgba(255, 115, 0, 0.792);
    --success-font-color: rgb(2, 111, 2);
    --reject-font-color: rgb(247, 8, 8);
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


.leave-balance-card,
.profile-containter,
.leave-history-container,
.list-container {
    box-shadow: 0 0 0.625rem var(--box-shadow-color);
    padding: 1.5rem;
    border-radius: 0.825rem;
    width: 100%;
    margin-bottom: 1rem;
}


@media (min-width:960px) {
    .profile-containter {
        margin-right: 2rem;
    }

    .mobile-navbar,
    .nav-bar-icon {
        display: none;
    }
}

@media (max-width:960px) {

    .profile-containter {
        margin-bottom: 1rem;
    }

    .employee-header {
        flex-wrap: wrap;
    }

    .company-cover-image {
        display: none;
    }

    .form-wrapper {
        width: 100%;
    }

    .company-logo-new {
        width: 25%;
    }

    .navbar-containter div,
    .navbar-containter .button {
        display: none;
    }

}

@media (max-width:640px) {
    h1 {
        font-size: 1.625rem;
    }

    .profile-header p {
        font-size: 0.9rem;
    }

    .paid-btn,
    .unpaid-btn,
    .add-btn,
    .cancel-btn,
    .submit-btn {
        font-size: 0.825rem
    }
}

@media (max-width:1200px) {
    .donut-container {
        flex-direction: column;
    }

    .donut-container div {
        justify-content: center;
    }
}